# Created by venv; see https://docs.python.org/3/library/venv.html

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# OS / editor files
.vscode/

# Specific files
speech.txt
